{% extends 'bases/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid pt-3">
  <div class="row removable">
    <div class="col-lg-8">
      <h3 class="text-center" spellcheck="false" data-ms-editor="true">
        Test Name
      </h3>
    </div>
    <div class="col-lg-4">
      <button class="btn btn-primary mb-4" type="button">Save</button>
      <button class="btn btn-secondary mb-4" type="button">Close</button>
    </div>
  </div>
  <template question-template>
    <li>
      <div class="input-group input-group-outline mb-3">
        <label class="form-label">Question</label>
        <input type="text" class="form-control" name="heading" required />
        <button class="btn btn-link me-auto border-0" style="margin-bottom:0%">
          <i class="material-icons text-lg">delete</i>
        </button>
      </div>
      <ol id="options" type="A">
        <!-- Options go here -->
      </ol>
      <button type="button" class="btn bg-gradient-primary buttons add_option"><i class="material-icons opacity-10">add</i>option</button>
      <button type="button" class="btn bg-gradient-primary buttons"><i class="material-icons opacity-10">add</i>checkbox</button>
      <button type="button" class="btn bg-gradient-primary buttons"><i class="material-icons opacity-10">add</i>input</button>
    </li>
  </template>
  <template option-template>
    <li>
      <div class="input-group input-group-outline mb-3">
        <label class="form-label">Option</label>
        <input type="text" class="form-control" name="" required />
        <a class="btn btn-link me-auto border-0" style="margin-bottom:0%">
          <i class="material-icons text-lg">delete</i>
        </a>
      </div>
    </li>
  </template>
  <div class="card">
    <div class="card-body">
      <form role="form" class="text-start" method="post" action="">
        {% csrf_token %}
        <div>
          <ol type="1" id="questions">
            <!-- Question div -->
            <li>
              <div class="input-group input-group-outline mb-3">
                <label class="form-label">Question</label>
                <input type="text" class="form-control" name="heading" required />
                <button class="btn btn-link me-auto border-0" style="margin-bottom:0%">
                  <i class="material-icons text-lg">delete</i>
                </button>
              </div>
              <ol type="A">
                <li>
                  <div class="input-group input-group-outline mb-3">
                    <label class="form-label">Option</label>
                    <input type="text" class="form-control" name="" required />
                    <a class="btn btn-link me-auto border-0" style="margin-bottom:0%">
                      <i class="material-icons text-lg">delete</i>
                    </a>
                  </div>
                </li>
              </ol>
              <button type="button" class="btn bg-gradient-primary buttons add_option" ><i class="material-icons opacity-10">add</i>option</button>
              <button type="button" class="btn bg-gradient-primary buttons"><i class="material-icons opacity-10">add</i>checkbox</button>
              <button type="button" class="btn bg-gradient-primary buttons"><i class="material-icons opacity-10">add</i>input</button>
            </li>
            <!-- Question div end -->
          </ol>

        </div>
        <div class="text-center">
          <button type="button" id="add_question" class="btn bg-gradient-primary w-100 my-4 mb-2">
            Add question
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>
<div class="wrapper">
  <div id="survey_options">
    <input
      type="text"
      name="survey_options[]"
      class="survey_options"
      size="50"
      placeholder="Name"
    />
    <input
      type="text"
      name="survey_options[]"
      class="survey_options"
      size="50"
      placeholder="Email"
    />
    <input
      type="text"
      name="survey_options[]"
      class="survey_options"
      size="50"
      placeholder="Another Field"
    />
  </div>
  <div class="controls">
    <a href="#" id="add_more_fields"><i class="fa fa-plus"></i>Add More</a>
    <a href="#" id="remove_fields"><i class="fa fa-plus"></i>Remove Field</a>
  </div>
</div>
<script src="{% static 'js/create-test.js' %}"></script>

{% endblock %}
