
              {% with messages = get_flashed_messages(with_categories = true) %}
              {% if messages %}
              <div class="card-body p-3 pb-0">
                {% for category, message in messages %}
                <div class="container">
                <div class="alert alert-{{category}} alert-dismissible text-white" role="alert">
                  <span class="text-sm">{{ message }}</span>
                  <button type="button" class="btn-close text-lg py-3 opacity-10" data-bs-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                {% endfor %}
              </div>
              {% endif %}
              {% endwith %}