{% extends 'bases/base_admin.html' %}
{% block title %}Classes{% endblock %}
{% block content %}
<div class="container-fluid py-4">
	<div class="row">
		<div class="col-12">
			<div class="card my-4">
				<div class="card-header pb-0 p-3"></div>
				<div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
					<div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
						<div class="row">
							<div class="col-6 d-flex align-items-center">
								<h6 class="text-white text-capitalize ps-3">Classes</h6>
							</div>
							<div class="col-6 text-end" style="right: 10px; position: relative">
								<button
									type="button"
									class="btn bg-gradient-dark mb-0"
									data-toggle="modal"
									data-target="#newStaffModal">
									<i class="material-icons opacity-10">add</i> New class
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="card-body px-0 pb-2">
					<div class="table-responsive p-0">
						<table class="table align-items-center mb-0">
							<thead>
								<tr>
									<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
										Class
									</th>
									<th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
										No. of students
									</th>
									<th class="text-secondary opacity-7"></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<div class="d-flex px-2 py-1">
											<div class="d-flex flex-column justify-content-center">
												<h6 class="mb-0 text-sm">Creche</h6>
											</div>
										</div>
									</td>
                                    <td class="align-middle text-center text-sm">
                                        <span class="badge badge-sm bg-gradient-success">0</span>
                                    </td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- The Modal -->
<div class="modal fade" id="newStaffModal">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title">New staff</h4>
			</div>

			<!-- Modal body -->
			<div class="modal-body">
				<div class="card-body">
					<form role="form"
						class="text-start"
						method="post"
						enctype="multipart/form-data"
						action="/a/add-staff"
						id="create_staff">
						<div class="input-group input-group-outline mb-3">
							<label class="form-label">First name</label>
							<input type="text" class="form-control" name="first_name" required />
						</div>
						<div class="input-group input-group-outline mb-3">
							<label class="form-label">Last name</label>
							<input type="text" class="form-control" name="last_name" required />
						</div>
						<div class="input-group input-group-outline mb-3">
							<label class="form-label">Other names</label>
							<input type="text" class="form-control" name="onames" required />
						</div>
						<div class="input-group input-group-outline mb-3">
							<select name="role" class="form-control" aria-placeholder="Role">
								<option value="No Role">-- Select Role --</option>
								<option value="Teacher">Teacher</option>
								<option value="Cleaner">Cleaner</option>
								<option value="Security">Security</option>
								<option value="Head teacher">Head teacher</option>
							</select>
						</div>
						<div class="input-group input-group-outline mb-3">
							<label class="form-label">Email</label>
							<input type="email" class="form-control" name="email" required />
						</div>
						<div class="input-group input-group-outline mb-3">
							<label class="form-label">Phone</label>
							<input type="tel" class="form-control" name="phone" required />
						</div>
						<div class="input-group input-group-outline mb-3">
							<label class="form-label">Password</label>
							<input
								type="password"
								class="form-control"
								name="password"
								required
							/>
						</div>
						<div class="input-group input-group-outline mb-3">
							<label class="form-label">Date employed</label>
							<input
								type="date"
								class="form-control"
								name="date_employed"
								required
							/>
						</div>
						<div class="input-group input-group-outline mb-3">
							<label class="form-label">Salary</label>
							<input
								type="number"
								class="form-control"
								name="salary"
								required
							/>
						</div>
						<div class="input-group input-group-outline mb-3">
							<label class="form-label">Photo</label>
							<input
								type="file"
								accept="image/*"
								class="form-control"
								name="photo"
								required
							/>
						</div>
						<div class="text-center">
							<button type="submit" id="create_staff_btn" class="btn bg-gradient-primary w-100 my-4 mb-2">
								Create
							</button>
						</div>
					</form>
				</div>
			</div>

			<!-- Modal footer -->
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">
					Close
				</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="editStaffModal">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title">Edit staff</h4>
			</div>

			<!-- Modal body -->
			<div class="modal-body">
				<div class="card-body">
					<form role="form"
						class="text-start"
						method="post"
						enctype="multipart/form-data"
						id="update_staff"
						action="/a/update-staff">
						<div class="input-group input-group-outline mb-3">
							<input type="text" id="id" class="form-control" name="id" disabled/>
						</div>
						<div class="input-group input-group-outline mb-3">
							<input type="text" id="first_name" class="form-control" placeholder="First name" name="first_name" required />
						</div>
						<div class="input-group input-group-outline mb-3">
							<input type="text" id="last_name" class="form-control" name="last_name" placeholder="Last name" required />
						</div>
						<div class="input-group input-group-outline mb-3">
							<input type="text" id="onames" class="form-control" name="onames" placeholder="Other names" required />
						</div>
						<div class="input-group input-group-outline mb-3">
							<select name="role" id="role" class="form-control" aria-placeholder="Role">
								<option value="No Role">-- Select Role --</option>
								<option value="Teacher">Teacher</option>
								<option value="Cleaner">Cleaner</option>
								<option value="Security">Security</option>
								<option value="Head teacher">Head teacher</option>
							</select>
						</div>
						<div class="input-group input-group-outline mb-3">
							<input type="email" id="email" class="form-control" placeholder="Email" name="email" required />
						</div>
						<div class="input-group input-group-outline mb-3">
							<input type="tel" id="phone" class="form-control" placeholder="Phone number" name="phone" required />
						</div>
						<div class="input-group input-group-outline mb-3">
							<label class="form-label">Password (unchanged)</label>
							<input
								type="password"
								class="form-control"
								name="password"
							/>
						</div>
						<div class="input-group input-group-outline mb-3">
							<input type="number" class="form-control" name="salary" id="salary" placeholder="Salary" required/>
						</div>
						<div class="input-group input-group-outline mb-3">
							<input type="file" accept="image/*" class="form-control" name="photo" id="photo" placeholder="Photo"/>
						</div>
						<div class="text-center">
							<button type="submit" id="update_staff_btn" class="btn bg-gradient-primary w-100 my-4 mb-2">
								Update
							</button>
						</div>
					</form>
				</div>
			</div>

			<!-- Modal footer -->
			<div class="modal-footer">
				<button type="button" onclick="delete_staff()" class="btn btn-danger" id="delete_staff_btn" data-dismiss="modal">
					Delete staff
				</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">
					Close
				</button>
			</div>
		</div>
	</div>
</div>

<script src="{% static 'staff.js' %}"></script>
{% endblock %}
