{% extends 'admin-page/base.html' %}
{% block content %}
<div class="container-fluid pt-3">
    <section class="py-5">
        <div class="container">
            <div class="row removable">
                <div class="col-md-8 ms-auto me-auto text-center">


                </div>
            </div>
            <div class="row mt-lg-5 mt-4 removable">
                <div class="col-lg-4 col-md-6 mb-5">
                    <div class="card mb-3">
                        <div class="ps-4 mt-n4">
                            <div class="icon icon-lg icon-shape bg-gradient-primary shadow-primary shadow text-center border-radius-xl">
                                <i class="material-icons opacity-10">manage_accounts</i>
                            </div>
                        </div>
                        <div class="card-body border-radius-lg position-relative overflow-hidden pb-4">
                            <h5 class="mt-2">Slack bot</h5>
                            <p class="mb-3">If everything I did failed - which it doesn't, it actually succeeds - just the fact that I'm willing to fail is an inspiration. People are so scared to lose that they don't even try. And this is sad.</p>
                            <a href="javascript:;" class="font-weight-bold text-xs text-uppercase font-weight-bolder text-primary icon-move-right">
                                Check more
                                <i class="fas fa-arrow-right text-xs ms-1" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}