{% extends 'bases/base_admin.html' %}
{% block title %}Blogs{% endblock %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
<div class="container-fluid py-4">
	<div class="row">
		<div class="col-12">
			<div class="card my-4">
				<div class="card-header pb-0 p-3"></div>
				<div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
					<div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
						<div class="row">
							<div class="col-6 d-flex align-items-center">
								<h6 class="text-white text-capitalize ps-3">Blogs</h6>
							</div>
							<div class="col-6 text-end" style="right: 10px; position: relative">
								<button
									type="button"
									class="btn bg-gradient-dark mb-0"
									data-toggle="modal"
									data-target="#newBlogModal">
									<i class="material-icons opacity-10">add</i> New Blog
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="card-body px-0 pb-2">
					<div class="table-responsive p-0">
						<table class="table align-items-center mb-0">
							<thead>
								<tr>
									<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
										Photo
									</th>
									<th class="text-uppercase text-center text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
										Heading
									</th>
									<th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
										Description
									</th>
									<th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
										Date
									</th>
								</tr>
							</thead>
							<tbody>
								{% for b in blogs %}
								<tr>
									<td>
										<div class="d-flex">
												<img
													src="{{ url_for('views.get_photo', filename=b.photo %}"
													class="border-radius-lg"
													alt="blog"
													style="width: 200px; height: auto;"
												/>
										</div>
									</td>
									<td class="align-middle text-center  text-sm">
										<span>{{b.heading}}</span>
									</td>
									<td class="align-middle text-center text-sm">
										<span id="description"></span>
										<script>document.getElementById("description").innerHTML = "{{b.desc}}".slice(0,30)</script>
									</td>
									<td class="align-middle text-center">
										<span class="text-secondary text-xs font-weight-bold">{{b.date~"-"~b.month~"-"~b.year}}</span>
									</td>
									<td class="align-middle">
										<a onclick="edit_blog({{ b }})"
										type="button"
										class="text-secondary font-weight-bold text-xs"
										data-toggle="modal"
										data-target="#editBlogModal">Edit
									</a>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- The Modal -->
<div class="modal fade" id="newBlogModal">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title">New blog</h4>
			</div>

			<!-- Modal body -->
			<div class="modal-body">
				<div class="card-body">
					<form role="form"
						class="text-start"
						method="post"
						enctype="multipart/form-data"
						action="/a/add-blog"
						id="create_blog">
						<div class="input-group input-group-outline mb-3">
							<label class="form-label">Heading</label>
							<input type="text" class="form-control" name="heading" required />
						</div>
						<div class="input-group input-group-outline mb-3">
							<textarea name="desc" class="form-control" placeholder="Description" required></textarea>
						</div>
						<div class="input-group input-group-outline mb-3">
							<label class="form-label">Photo</label>
							<input
								type="file"
								accept="image/*"
								class="form-control"
								name="photo"
								required
							/>
						</div>
						<div class="text-center">
							<button type="submit" id="create_blog_btn" class="btn bg-gradient-primary w-100 my-4 mb-2">
								Create
							</button>
						</div>
					</form>
				</div>
			</div>

			<!-- Modal footer -->
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">
					Close
				</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="editBlogModal">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title">Edit blog</h4>
			</div>

			<!-- Modal body -->
			<div class="modal-body">
				<div class="card-body">
					<form role="form"
						class="text-start"
						method="post"
						enctype="multipart/form-data"
						id="update_blog"
						action="/a/update-blog">
						<div class="input-group input-group-outline mb-3">
							<input type="text" name="id" id="id" hidden/>
						</div>
						<div class="input-group input-group-outline mb-3">
							<input type="text" id="heading" class="form-control" placeholder="Heading" name="heading" required />
						</div>
						<div class="input-group input-group-outline mb-3">
							<textarea class="form-control" id="desc" name="desc" placeholder="Description text" required></textarea>
						</div>
						<div class="input-group input-group-outline mb-3">
							<input type="file" accept="image/*" class="form-control" name="photo" id="photo" placeholder="Photo"/>
						</div>
						<div class="text-center">
							<button type="submit" id="update_blog_btn" class="btn bg-gradient-primary w-100 my-4 mb-2">
								Update
							</button>
						</div>
					</form>
				</div>
			</div>

			<!-- Modal footer -->
			<div class="modal-footer">
				<button type="button" onclick="delete_blog()" class="btn btn-danger" id="delete_blog_btn" data-dismiss="modal">
					Delete blog
				</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">
					Close
				</button>
			</div>
		</div>
	</div>
</div>

<script src="{% static 'blog.js' %}"></script>
{% endblock %}
